.titleBar {
    background-color: #282c34;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 50px;
}

.title{
    color: #61dafb;
}

.titleBarDesc{
    color: white;
    font-size: 25px;
}