input{
    width: 85px;
    height: 85px;
    outline: none;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    border-radius: 15px;
}

.normalNum{
    border:1px solid #000000;
    border-width: 1px;
}

.megaballNum{
    border:2px solid #ff0000;
}



