input{
    width: 85px;
    height: 85px;
    outline: none;
    text-align: center;
    font-size: 30px;
    margin-left: 10px;
    border-radius: 15px;
}

.normalNum{
    border-color: black;
    border-width: 1px;
}

.megaballNum{
    border-color: red;
    border-width: 2px;
}



